<ion-tabs class="footer-bg-color tabs-icon-top">

  <ion-tab class="footer-nav-title" title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.dashboard" >
    <ion-nav-view  name="bookingDashboardContent"></ion-nav-view>
  </ion-tab>

  <ion-tab class="footer-nav-title" title="Account" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="main.myAccount" >
    <ion-nav-view name="accountContent"></ion-nav-view>
  </ion-tab>

  <ion-tab class="footer-nav-title" title="More" icon-on="ion-navicon" icon-off="ion-navicon" ui-sref="main.settings" >
    <ion-nav-view name="settingsContent"></ion-nav-view>
  </ion-tab>

</ion-tabs>

