<ion-view>
  <!--Bar header-->
  <div class="bar bar-header custom-navbar">
    <md-button class="md-icon-button" ng-click="goBack()" aria-label="More">
      <i class="text-color-black icon ion-android-arrow-back"></i>
    </md-button>
    <span class="custom-title">Contact Us</span>
  </div>

  <ion-content class="has-header-60 padding" overflow-scroll="false">
      <div class="row">
        <div class="col-2">
          <md-icon class="primary-color m-t-15" style="margin-top: 15px">email</md-icon>
        </div>
        <div class="col m-l-10">
          <span class="f-w-700 f-s-15">Email</span><br>
          <span class="f-s-12">kamalmails09@gmail.com</span>
          <hr>
        </div>
      </div>
      <div class="row m-t-20">
        <div class="col-2">
          <md-icon class="primary-color m-t-15">phone</md-icon>
        </div>
        <div class="col m-l-10">
          <span class="f-w-700 f-s-15">Phone no</span><br>
          <span class="f-s-12">+91-9911256851</span>
          <hr>
        </div>
      </div>

    <div class="row m-t-80">
      <div class="col text-center">
        <img ng-src="img/wf-black-logo.png" height="60" width="60"><br>
        <span class="f-s-12 text-color-light-grey">You can get in touch with our 24X7 customer service anytime.</span>
      </div>
    </div>

  </ion-content>
</ion-view>


