<ion-view>
  <div class="bar bar-header custom-navbar">
    <md-button class="md-icon-button" ng-click="goBack()" aria-label="More">
      <i class="text-color-black icon ion-android-arrow-back"></i>
    </md-button>
    <span class="custom-title">Change Password</span>
  </div>
  <ion-content class="has-header-60 custom-background">
    <br><br>
    <div class="row">
      <div class="col text-center">
        <span class="f-s-12 text-color-grey">Enter Your New Password Here!</span>
      </div>
    </div>
    <form name="changePassword">
      <div class="row">
        <div class="login-form w-100">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="password" placeholder="Current Password" required name="currentPassword" ng-model="user.currentPassword">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="New Password" required name="password" ng-model="user.password">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="user.userPassword" required
                     name="confirmPassword">
            </label>
            <span class="f-s-10 text-color-red"
                  ng-show="user.password != user.userPassword">Password do not match</span>
          </div>
        </div>
      </div>
      <div class="row">
        <md-button ng-disabled="changePassword.$invalid || user.password != user.userPassword"
                   class="md-raised custom-btn-100 f-s-14 h-45" ng-click="changeUserPassword()">CHANGE PASSWORD
        </md-button>
      </div>
    </form>
  </ion-content>
</ion-view>

