<ion-view>
  <div class="bar bar-header custom-navbar">
    <md-button class="md-icon-button" ng-click="goBack()" aria-label="More">
      <i class="text-color-black icon ion-android-arrow-back"></i>
    </md-button>
    <span class="custom-title">Forget Password</span>
  </div>

  <ion-content class="has-header-60 custom-background">
    <br><br>
    <div class="row">
      <div class="col text-center">
        <span class="f-s-12 text-color-grey">Enter Your Registered Mobile no. to get OTP</span>
      </div>
    </div>
    <form name="forgetPassword">
      <div class="row">
        <div class="w-100">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="number" ng-model="forgetPasswordObj.phoneNo" required placeholder="Phone No"
                     ng-minlength="10" ng-maxlength="10" name="phoneNo">
            </label>
            <span class="f-s-10 text-color-red" ng-show="forgetPassword.phoneNo.$error.required">Please enter valid mobile no</span>
            <span class="f-s-10 text-color-red" ng-show="forgetPassword.phoneNo.$error.minlength">Cannot be less than 10 digit</span>
            <span class="f-s-10 text-color-red" ng-show="forgetPassword.phoneNo.$error.maxlength">Cannot be greater than 10 digit</span>
          </div>
        </div>
      </div>
      <div class="row">
        <md-button ng-disabled="forgetPassword.$invalid" class="md-raised custom-btn-100 f-s-14 h-45"
                   ng-click="getOtp()">Get Otp
        </md-button>
      </div>
    </form>
  </ion-content>
</ion-view>

